@import compass

@import partials/animate
@import partials/animations
@import partials/defaults
@import partials/fonts
@import partials/mixins
@import partials/variables

@import breakpoints

// Animations

body
	background: hsl(220, 20%, 20%)
	color: hsl(220, 10%, 40%)
	padding: 15%

.intro
	+animated(fadeInUp, 2s, 2s)
	font-size: 1.6rem
	font-weight: 300
	line-height: 2rem


section
	height: 500px


footer
	background: hsl(220, 20%, 15%)
	width: 100%

	position: fixed
	bottom: 0
	left: 0

	ul
		float: left
		list-style: none

		li 
			float: left
			padding: 4%

			a
				color: hsl(220, 10%, 40%)
				display: block

			&:hover
				background: hsl(220, 20%, 10%)

				a
					color: hsl(220, 10%, 50%)