// Palette

$red: hsl(9, 24%, 48%);
$orange: hsl(26, 24%, 48%);
$yellow: hsl(41, 24%, 48%);
$green: hsl(101, 24%, 48%);
$blue: hsl(201, 26%, 52%);
$purple: hsl(237, 24%, 48%);

$primary: hsl(210, 26%, 22%);
$header: hsl(201, 24%, 40%);
$bg: hsl(210, 25%, 13%);

$text: hsl(201, 8%, 35%);
$link: $blue;

// Variables