/* line 12, ../sass/partials/_animations.scss */
.fadein, nav, header h1 .box, header h1 .tagline, section:not(#about) > *, section .more, section .more .text, section[id="about"] .container [id="bio"]:hover, section[id="about"] .container [id="bio"] .callout, section[id="about"] > .social, section[id="about"] > .social ul li a, section[id="capabilities"] .container .flex div ul li a, section[id="design"] h2 .view, section[id="design"] h2 a, section[id="design"] [id="dribbble"] ul li a img, footer .social ul li a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 13, ../sass/partials/_animations.scss */
.fadeout {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 14, ../sass/partials/_animations.scss */
.noanim {
  -webkit-transition: none none none;
  -moz-transition: none none none;
  -ms-transition: none none none;
  -o-transition: none none none;
  transition: none none none;
}

@-webkit-keyframes shake {
  /* line 17, ../sass/partials/_animations.scss */
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 18, ../sass/partials/_animations.scss */
  10% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 19, ../sass/partials/_animations.scss */
  20% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 20, ../sass/partials/_animations.scss */
  30% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 21, ../sass/partials/_animations.scss */
  40% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 22, ../sass/partials/_animations.scss */
  50% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 23, ../sass/partials/_animations.scss */
  60% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 24, ../sass/partials/_animations.scss */
  70% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 25, ../sass/partials/_animations.scss */
  80% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 26, ../sass/partials/_animations.scss */
  90% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 27, ../sass/partials/_animations.scss */
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes shake {
  /* line 17, ../sass/partials/_animations.scss */
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 18, ../sass/partials/_animations.scss */
  10% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 19, ../sass/partials/_animations.scss */
  20% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 20, ../sass/partials/_animations.scss */
  30% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 21, ../sass/partials/_animations.scss */
  40% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 22, ../sass/partials/_animations.scss */
  50% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 23, ../sass/partials/_animations.scss */
  60% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 24, ../sass/partials/_animations.scss */
  70% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 25, ../sass/partials/_animations.scss */
  80% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 26, ../sass/partials/_animations.scss */
  90% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 27, ../sass/partials/_animations.scss */
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-ms-keyframes shake {
  /* line 17, ../sass/partials/_animations.scss */
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 18, ../sass/partials/_animations.scss */
  10% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 19, ../sass/partials/_animations.scss */
  20% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 20, ../sass/partials/_animations.scss */
  30% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 21, ../sass/partials/_animations.scss */
  40% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 22, ../sass/partials/_animations.scss */
  50% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 23, ../sass/partials/_animations.scss */
  60% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 24, ../sass/partials/_animations.scss */
  70% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 25, ../sass/partials/_animations.scss */
  80% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 26, ../sass/partials/_animations.scss */
  90% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 27, ../sass/partials/_animations.scss */
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes shake {
  /* line 17, ../sass/partials/_animations.scss */
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 18, ../sass/partials/_animations.scss */
  10% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 19, ../sass/partials/_animations.scss */
  20% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 20, ../sass/partials/_animations.scss */
  30% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 21, ../sass/partials/_animations.scss */
  40% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 22, ../sass/partials/_animations.scss */
  50% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 23, ../sass/partials/_animations.scss */
  60% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 24, ../sass/partials/_animations.scss */
  70% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 25, ../sass/partials/_animations.scss */
  80% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  /* line 26, ../sass/partials/_animations.scss */
  90% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  /* line 27, ../sass/partials/_animations.scss */
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes twinkle {
  /* line 31, ../sass/partials/_animations.scss */
  0 {
    opacity: 1;
  }

  /* line 32, ../sass/partials/_animations.scss */
  100% {
    opacity: .15;
  }
}

@-moz-keyframes twinkle {
  /* line 31, ../sass/partials/_animations.scss */
  0 {
    opacity: 1;
  }

  /* line 32, ../sass/partials/_animations.scss */
  100% {
    opacity: .15;
  }
}

@-ms-keyframes twinkle {
  /* line 31, ../sass/partials/_animations.scss */
  0 {
    opacity: 1;
  }

  /* line 32, ../sass/partials/_animations.scss */
  100% {
    opacity: .15;
  }
}

@keyframes twinkle {
  /* line 31, ../sass/partials/_animations.scss */
  0 {
    opacity: 1;
  }

  /* line 32, ../sass/partials/_animations.scss */
  100% {
    opacity: .15;
  }
}

/* line 35, ../sass/partials/_animations.scss */
.twinkle {
  -webkit-animation-name: twinkle;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: 0s;
  -webkit-animation-delay: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-animation-name: twinkle;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: 0s;
  -moz-animation-delay: infinite;
  -moz-animation-direction: normal;
  -moz-animation-fill-mode: both;
  -ms-animation-name: twinkle;
  -ms-animation-duration: 0.5s;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: 0s;
  -ms-animation-delay: infinite;
  -ms-animation-direction: normal;
  -ms-animation-fill-mode: both;
  -ms-backface-visibility: hidden;
  -o-animation-name: twinkle;
  -o-animation-duration: 0.5s;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: 0s;
  -o-animation-delay: infinite;
  -o-animation-direction: normal;
  -o-animation-fill-mode: both;
  -o-backface-visibility: hidden;
  animation-name: twinkle;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: 0s;
  animation-delay: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-animation: translateZ(0);
  -ms-animation: translateZ(0);
  -o-animation: translateZ(0);
  animation: translateZ(0);
}

@-webkit-keyframes fadeIn {
  /* line 38, ../sass/partials/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 41, ../sass/partials/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 38, ../sass/partials/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 41, ../sass/partials/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  /* line 38, ../sass/partials/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 41, ../sass/partials/_animations.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 38, ../sass/partials/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 41, ../sass/partials/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  /* line 47, ../sass/partials/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  /* line 51, ../sass/partials/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  /* line 47, ../sass/partials/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  /* line 51, ../sass/partials/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-ms-keyframes fadeInUp {
  /* line 47, ../sass/partials/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  /* line 51, ../sass/partials/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  /* line 47, ../sass/partials/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  /* line 51, ../sass/partials/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* line 3, ../sass/partials/_defaults.scss */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/partials/_defaults.scss */
html, body {
  height: 100%;
}

/* line 13, ../sass/partials/_defaults.scss */
body {
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "onum" 1, "kern" 1, "liga" 1;
  -moz-font-feature-settings: "onum=1, kern=1, liga=1";
  -ms-font-feature-settings: "onum" 1, "kern" 1, "liga" 1;
  -o-font-feature-settings: "onum" 1, "kern" 1, "liga" 1;
  -webkit-font-feature-settings: "onum" 1, "kern" 1, "liga" 1;
  font-feature-settings: "onum" 1, "kern" 1, "liga" 1;
  text-rendering: optimizeLegibility;
}

/* line 41, ../sass/partials/_defaults.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
}

/* line 50, ../sass/partials/_defaults.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 54, ../sass/partials/_defaults.scss */
ul, ol, menu, dir, h1, h2, h3, h4, h5, h6, p, blockquote, b, strong, hr {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  margin: 0;
  border-style: none;
}

/* line 65, ../sass/partials/_defaults.scss */
hr {
  border: none;
  height: 1px;
  width: 100%;
  border-style: none;
  background-color: #f0f0f0;
}

/* line 73, ../sass/partials/_defaults.scss */
a {
  text-decoration: none;
}

/* line 75, ../sass/partials/_defaults.scss */
.left {
  float: left;
}

/* line 76, ../sass/partials/_defaults.scss */
.right {
  float: right;
}

/* line 77, ../sass/partials/_defaults.scss */
.clear {
  clear: both;
}

/* line 79, ../sass/partials/_defaults.scss */
.icon {
  font-family: "Entypo";
}

/* line 80, ../sass/partials/_defaults.scss */
.icon-s {
  font-family: "Entypo-S";
}

@font-face {
  font-family: "Entypo";
  src: url("../fonts/entypo/entypo.eot");
  src: url("../fonts/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo/entypo.woff") format("woff"), url("../fonts/entypo/entypo.ttf") format("truetype"), url("../fonts/entypo/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Entypo-S";
  src: url("../fonts/entypo/entypo-social.eot");
  src: url("../fonts/entypo/entypo-social.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo/entypo-social.woff") format("woff"), url("../fonts/entypo/entypo-social.ttf") format("truetype"), url("../fonts/entypo/entypo-social.svg#entypo-social") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 28, ../sass/partials/_fonts.scss */
i {
  font-family: "Entypo";
  font-style: normal;
}
/* line 32, ../sass/partials/_fonts.scss */
i.social {
  font-family: "Entypo-S";
}

@font-face {
  font-family: "Nevis";
  src: url("../fonts/nevis/nevis-webfont.eot");
  src: url("../fonts/nevis/nevis.eot?#iefix") format("embedded-opentype"), url("../fonts/nevis/nevis-webfont.woff") format("woff"), url("../fonts/nevis/nevis-webfont.ttf") format("truetype"), url("../fonts/nevis/nevis-webfont.svg#nevis-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 13, ../sass/style.sass */
header {
  -webkit-animation: fadeIn 4s 0s ease both;
  -moz-animation: fadeIn 4s 0s ease both;
  -ms-animation: fadeIn 4s 0s ease both;
  -o-animation: fadeIn 4s 0s ease both;
  animation: fadeIn 4s 0s ease both;
}

/* line 18, ../sass/style.sass */
section[id="about"] {
  -webkit-animation: fadeIn 2s 2s ease both;
  -moz-animation: fadeIn 2s 2s ease both;
  -ms-animation: fadeIn 2s 2s ease both;
  -o-animation: fadeIn 2s 2s ease both;
  animation: fadeIn 2s 2s ease both;
}
/* line 21, ../sass/style.sass */
section:not([id="about"]) {
  -webkit-animation: fadeInUp 2s 2.6s ease both;
  -moz-animation: fadeInUp 2s 2.6s ease both;
  -ms-animation: fadeInUp 2s 2.6s ease both;
  -o-animation: fadeInUp 2s 2.6s ease both;
  animation: fadeInUp 2s 2.6s ease both;
}
/* line 24, ../sass/style.sass */
section[id="about"] > .social {
  -webkit-animation: fadeInUp 2s 3.8s ease both;
  -moz-animation: fadeInUp 2s 3.8s ease both;
  -ms-animation: fadeInUp 2s 3.8s ease both;
  -o-animation: fadeInUp 2s 3.8s ease both;
  animation: fadeInUp 2s 3.8s ease both;
}

/* line 27, ../sass/style.sass */
html {
  font-size: 62.5%;
}

/* line 30, ../sass/style.sass */
html, body {
  font-family: "Open Sans", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 36, ../sass/style.sass */
body {
  background: #141a20 url(/img/bg2.jpg) center 40%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  color: #525b60;
}

/* line 42, ../sass/style.sass */
nav {
  border: 2px solid #192129;
  border-radius: 2px;
  color: #192129;
  height: 50px;
  text-align: center;
  width: 78%;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 40px;
}
/* line 59, ../sass/style.sass */
nav ul {
  display: flex;
  list-style: none;
}
/* line 63, ../sass/style.sass */
nav ul li {
  flex: 1;
}

/* line 66, ../sass/style.sass */
.container {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

/* line 71, ../sass/style.sass */
.flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* line 76, ../sass/style.sass */
a {
  color: #525b60;
  border-bottom: 1px solid rgba(82, 91, 96, 0.25);
}

/* line 80, ../sass/style.sass */
header {
  padding: 20% 0 0;
}
/* line 83, ../sass/style.sass */
header h1 {
  font-size: 1.1rem;
  width: 50%;
}
/* line 88, ../sass/style.sass */
header h1 .box {
  border: 2px solid #2a3847;
  border-radius: 2px;
  color: white;
  display: inline-block;
  margin-right: 4px;
  padding: 4px 1px 4px 2px;
  text-align: center;
  height: 30px;
  width: 30px;
}
/* line 100, ../sass/style.sass */
header h1 .box sup {
  font-size: 1rem;
  vertical-align: 3px;
}
/* line 104, ../sass/style.sass */
header h1 .tagline {
  color: rgba(42, 56, 71, 0.75);
  display: none;
  font-size: 1.4rem;
  font-weight: 400;
  padding-left: 3px;
  vertical-align: 0;
}
/* line 114, ../sass/style.sass */
header h1:hover .box {
  border-color: #98855d;
}
/* line 116, ../sass/style.sass */
header h1:hover .tagline {
  color: #98855d;
}

/* line 119, ../sass/style.sass */
section {
  min-height: 40%;
  overflow: hidden;
  position: relative;
  padding: 12% 0;
}
/* line 127, ../sass/style.sass */
section:not(#about) > * {
  opacity: 0.25;
}
/* line 132, ../sass/style.sass */
section:not(#about):hover > * {
  opacity: 1;
}
/* line 137, ../sass/style.sass */
section h2 {
  color: white;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 20px;
}
/* line 143, ../sass/style.sass */
section p {
  color: #525b60;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
/* line 148, ../sass/style.sass */
section p.callout {
  color: #796a4a;
  font-size: 2.8rem;
  font-weight: 100;
  line-height: 4rem;
}
/* line 155, ../sass/style.sass */
section p.divider {
  text-align: center;
}
/* line 158, ../sass/style.sass */
section p.divider i {
  color: #1d2630;
  font-size: 10rem;
}
/* line 164, ../sass/style.sass */
section a:hover .more, section a.active .more {
  border-color: #98855d;
  padding: 0 18px 0 24px;
}
/* line 168, ../sass/style.sass */
section a:hover .more .text, section a.active .more .text {
  display: inline;
}
/* line 171, ../sass/style.sass */
section .more {
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 2px solid #2a3847;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.4rem;
  margin: 2rem auto;
  padding: 0 2%;
}
/* line 185, ../sass/style.sass */
section .more:focus {
  outline: 0;
}
/* line 188, ../sass/style.sass */
section .more .text {
  display: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding-right: 6px;
  text-transform: uppercase;
  vertical-align: 0.4rem;
}
/* line 199, ../sass/style.sass */
section .more i {
  font-size: 3rem;
}
/* line 204, ../sass/style.sass */
section[id="about"] {
  padding: 0 0 10%;
}
/* line 207, ../sass/style.sass */
section[id="about"] .container {
  display: block;
}
/* line 210, ../sass/style.sass */
section[id="about"] .container [id="bio"] {
  border-bottom: none;
  display: block;
  overflow: hidden;
  padding: 1% 0;
}
/* line 219, ../sass/style.sass */
section[id="about"] .container [id="bio"]:hover .callout {
  color: #2a3847;
}
/* line 222, ../sass/style.sass */
section[id="about"] .container [id="bio"] .callout {
  float: left;
  padding: 0 10% 0 0;
  width: 85%;
}
/* line 228, ../sass/style.sass */
section[id="about"] .container [id="bio"] .callout.active {
  color: rgba(152, 133, 93, 0.5);
}
/* line 232, ../sass/style.sass */
section[id="about"] .container [id="bio"] .callout.active:hover {
  color: rgba(42, 56, 71, 0.5);
}
/* line 235, ../sass/style.sass */
section[id="about"] .container [id="bio"] .more {
  float: left;
  margin: 3.2rem 0 0;
  width: auto;
}
/* line 240, ../sass/style.sass */
section[id="about"] .container .details {
  clear: both;
  display: none;
  font-size: 1.2rem;
  height: 170px;
  width: 100%;
}
/* line 247, ../sass/style.sass */
section[id="about"] .container .details .left {
  width: 85%;
}
/* line 250, ../sass/style.sass */
section[id="about"] .container .details p, section[id="about"] .container .details span {
  margin: 16px 0;
}
/* line 271, ../sass/style.sass */
section[id="about"] > .social {
  background: #11171c;
  border-radius: 2px;
  color: #192129;
  height: 50px;
  text-align: center;
  width: 78%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 288, ../sass/style.sass */
section[id="about"] > .social:hover {
  height: 80px;
}
/* line 292, ../sass/style.sass */
section[id="about"] > .social:hover a {
  color: #525b60;
  padding: 25px 0 40px;
}
/* line 296, ../sass/style.sass */
section[id="about"] > .social ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  max-width: 800px;
}
/* line 302, ../sass/style.sass */
section[id="about"] > .social ul li {
  flex: 1;
  position: relative;
}
/* line 306, ../sass/style.sass */
section[id="about"] > .social ul li a {
  border-bottom: none;
  color: rgba(42, 56, 71, 0.5);
  display: block;
  height: 100%;
  padding: 10px 0;
}
/* line 314, ../sass/style.sass */
section[id="about"] > .social ul li a:hover {
  background: #98855d;
  color: white;
  padding: 20px 0 30px;
}
/* line 319, ../sass/style.sass */
section[id="about"] > .social ul li a:hover:after {
  color: rgba(255, 255, 255, 0.5);
  content: attr(data-site);
  font-size: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}
/* line 330, ../sass/style.sass */
section[id="about"] > .social ul li a i {
  font-size: 3rem;
  display: block;
}
/* line 334, ../sass/style.sass */
section[id="capabilities"] {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #2a3847), color-stop(100%, #192129));
  background-image: -webkit-linear-gradient(left top, #2a3847, #192129);
  background-image: -moz-linear-gradient(left top, #2a3847, #192129);
  background-image: -o-linear-gradient(left top, #2a3847, #192129);
  background-image: linear-gradient(left top, #2a3847, #192129);
  color: #69737e;
}
/* line 346, ../sass/style.sass */
section[id="capabilities"] .container .flex div {
  flex: 1;
  font-size: 1.3rem;
  line-height: 2.8rem;
}
/* line 354, ../sass/style.sass */
section[id="capabilities"] .container .flex div strong {
  color: #69737e;
}
/* line 357, ../sass/style.sass */
section[id="capabilities"] .container .flex div ul {
  list-style-position: inside;
}
/* line 361, ../sass/style.sass */
section[id="capabilities"] .container .flex div ul li:after {
  color: #3f4b59;
  content: attr(data-tools);
}
/* line 367, ../sass/style.sass */
section[id="capabilities"] .container .flex div ul li a:hover {
  color: #98855d;
}
/* line 370, ../sass/style.sass */
section[id="capabilities"] .container .flex div ul li ul {
  color: #3f4b59;
  line-height: 2.25rem;
}
/* line 374, ../sass/style.sass */
section[id="capabilities"] .container .flex div ul li ul li {
  margin-left: 16px;
}
/* line 385, ../sass/style.sass */
section[id="design"] {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #887753), color-stop(100%, #6a5d41));
  background-image: -webkit-linear-gradient(left top, #887753, #6a5d41);
  background-image: -moz-linear-gradient(left top, #887753, #6a5d41);
  background-image: -o-linear-gradient(left top, #887753, #6a5d41);
  background-image: linear-gradient(left top, #887753, #6a5d41);
}
/* line 389, ../sass/style.sass */
section[id="design"] h2 {
  max-width: 800px;
  margin: 0 auto 40px;
}
/* line 393, ../sass/style.sass */
section[id="design"] h2 .view {
  border: 2px solid #98855d;
  border-radius: 2px;
  color: white;
  font-size: 0.9rem;
  font-weight: 900;
  margin-left: 20px;
  padding: 4px 10px;
  text-transform: uppercase;
  vertical-align: 5px;
}
/* line 405, ../sass/style.sass */
section[id="design"] h2 .view i {
  font-size: 2.5rem;
  margin-left: 5px;
  vertical-align: -3px;
}
/* line 410, ../sass/style.sass */
section[id="design"] h2 a {
  border-bottom: none;
  color: white;
}
/* line 415, ../sass/style.sass */
section[id="design"] h2 a:hover {
  border-bottom-color: #98855d;
}
/* line 418, ../sass/style.sass */
section[id="design"] h2 a:hover .view {
  border-color: white;
  margin-left: 40px;
}
/* line 423, ../sass/style.sass */
section[id="design"] [id="dribbble"], section[id="design"] [id="codepen"] {
  margin: 0 auto 40px;
  max-width: 68%;
}
/* line 429, ../sass/style.sass */
section[id="design"] [id="dribbble"]::after {
  border-bottom: 2px solid #98855d;
  content: "";
  display: block;
  padding-top: 6%;
}
/* line 435, ../sass/style.sass */
section[id="design"] [id="dribbble"] ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}
/* line 441, ../sass/style.sass */
section[id="design"] [id="dribbble"] ul li {
  flex: 0 1 calc(25% - 3px);
  margin-bottom: 3px;
}
/* line 445, ../sass/style.sass */
section[id="design"] [id="dribbble"] ul li:not(:nth-child(4n + 4)) {
  margin-right: 3px;
}
/* line 448, ../sass/style.sass */
section[id="design"] [id="dribbble"] ul li a {
  border-bottom: none;
  border-radius: 2;
  display: block;
  height: 165px;
}
/* line 455, ../sass/style.sass */
section[id="design"] [id="dribbble"] ul li a:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  opacity: 1;
  z-index: 2;
}
/* line 460, ../sass/style.sass */
section[id="design"] [id="dribbble"] ul li a img {
  border-radius: 2px;
  opacity: 0.5;
  width: 100%;
  position: relative;
}

/* line 471, ../sass/style.sass */
footer .social ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  max-width: 800px;
}
/* line 477, ../sass/style.sass */
footer .social ul li {
  flex: 1;
  position: relative;
}
/* line 481, ../sass/style.sass */
footer .social ul li a {
  border-bottom: none;
  color: rgba(42, 56, 71, 0.5);
  display: block;
  height: 100%;
  text-align: center;
  padding: 10px 0;
}
/* line 490, ../sass/style.sass */
footer .social ul li a:hover {
  background: #98855d;
  color: white;
  padding: 20px 0 30px;
}
/* line 495, ../sass/style.sass */
footer .social ul li a:hover:after {
  color: rgba(255, 255, 255, 0.5);
  content: attr(data-site);
  font-size: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}
/* line 506, ../sass/style.sass */
footer .social ul li a i {
  font-size: 3rem;
  display: block;
}
